<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload | Arcanum</title>
  <link rel="icon" href="../../static/arcanum.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="../../static/style.css" rel="stylesheet">
</head>

<body>
  <header class="hero d-flex align-items-center  bg-light">
    <div style="width: 100%;" class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div>
          <img src="../../static/arcanum.png" style="max-height:30px; margin-right: 0px;">
          <a class="navbar-brand" href="/">rcanum</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end navbar-nav" id="navbarNav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/books">Search</a>
          <a class="nav-link" href="/sections">Categories</a>
          <a class="nav-link" href="/#popular">Popular</a>
          <a class="nav-link" href="/#latest">Latest</a>
          <div class="dropdown">
            <a class=" dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('dashboard')}}">Dashboard</a></li>
              <li><a class="dropdown-item" href="{{url_for('logout')}}">Log Out</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="body">
    <div class="float-login container">
      <h3 class="mb-3 text-center">Upload a new Book</h3>
      <!-- standard bootstrap login with validation -->
      <form enctype="multipart/form-data" id="createBook" method="POST" action="{{url_for('book_create')}}">


        <div class="mb-3">
          <label class="text-muted mb-2">Book Name</label>
          <input maxlength="60" class="form-control" type="text" name="book_name" id="book_name" required autofocus>
        </div>

        <div class="mb-3" id="author_input">
          <div>
            <label class="text-muted mb-2" for="author-input">Author Name</label>
            <button
              onclick="document.getElementById('author_input').insertAdjacentHTML('beforeend', `<input  maxlength='60' list='authors' class='form-control' name='author_name'>`); return false;">Add
              Author</button>
          </div>
          <input maxlength="60" list="authors" class="form-control" name="author_name" required>
          <datalist id="authors">
            {% for a in authors %}
            <option value="{{a}}"></option>

            {% endfor %}
          </datalist>
        </div>

        <div class="text-muted mb-4">
          <label for="section_desc">Book Description</label>
          <br><textarea maxlength="500" class="form-control" name="book_desc" form="createBook" required></textarea>
        </div>
        <div class="text-muted mb-4">
          <label for="book_img">Base Image (200px * 250px)</label>
          <input type="file" id="book_img" name="book_img" accept="image/png, image/jpeg">
        </div>
        <div class="text-muted mb-4">
          <label for="book_pdf">Select PDF</label>
          <input required type="file" id="book_pdf" name="book_pdf" accept="application/pdf">
        </div>
        <div class="mb-4" style="width: 100%;">
          <button type="submit" class="btn btn-dark" style="width: 100%;"> Upload </button>
        </div>
      </form>
    </div>

  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>