<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List | Arcanum</title>
  <link rel="icon" href="../static/arcanum.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="../static/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
  <header class="hero d-flex align-items-center  bg-light">
    <div style="width: 100%;" class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div>
          <img src="../static/arcanum.png" style="max-height:30px; margin-right: 0px;">
          <a class="navbar-brand" href="/">rcanum</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end navbar-nav" id="navbarNav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/books">Search</a>
          <a class="nav-link" href="/sections">Categories</a>
          <a class="nav-link" href="/#popular">Popular</a>
          <a class="nav-link" href="/#latest">Latest</a>
          <div class="dropdown">
            <a class=" dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('dashboard')}}">Dashboard</a></li>
              <li><a class="dropdown-item" href="{{url_for('logout')}}">Log Out</a></li>

            </ul>
          </div>
      </div>
      </div>
    </div>
  </header>
  <div id="body">
    <div class=" container mb-4">
      <div class="container body">


        <form>
          <div class="row">
            <div class="col">
              <label>Username</label>
              <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="col">
              <label>Tier</label>
              <select name="tier" class="form-select">
                <option selected disabled>Select</option>
                <option value="0">FREE</option>
                <option value="1">PAID</option>
              </select>
            </div>
            <div class="col" style="display: flex; align-items: flex-end;">
              <button type="submit" class="btn btn-dark"> Filter </button>
            </div>
          </div>
        </form>
      </div>
    </div>  
    <div class="float-profile container">

      <div class="container body" style="margin-bottom: 50px;">
        <div>
          <h1>Active Users</h1>
        </div>
        <table id="userList" class="table table-hover">
          <thead>
            <th>S. No.</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Created At</th>
            <th>Tier</th>
            
            <th></th>

          </thead>
          <tbody>
            {% if users|length==0 %}
            <tr>
              <td colspan="6" class="text-muted">No results available.</td>
            </tr>
            {% endif %}
            {% for r in users %}
            <tr>
              <td>{{loop.index}}.</td>
              <td>{{r.username}}</td>
              <td>{{r.fname}}</td>
              <td>{{r.lname}}</td>
              <td>{{r.created_at.date()}}</td>
              <td>{% if r.tier == 0 %} FREE {% else %} PAID {% endif %}</td>
              <td>
                <div>
                  <a href="/admin/user/{{r.id}}" class="btn btn-dark">View</a>
                  <a href="/admin/user/{{r.id}}/delete" class="btn btn-dark">Delete</a>
                  <a href="/admin/user/{{r.id}}/flipTier" class="btn btn-dark">Change Tier</a>

                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>